
    <% @stocks.each do |stock| %>
        <div class="well results-block col-md-8">
          <strong>Symbol:</strong> <%= stock.ticker %>
          <strong>Name:</strong> <%= stock.name %>
          <strong>Price:</strong> <%= stock.last_price %>
          <strong>ID:</strong> <%= stock.id %>
          <small>
              <%= button_tag(type: :button, class: "close") do %>
              <span aria-hidden="true"><%= link_to 'x', user_stock_path(stock), method: :delete,
              remote: true, data: { :confirm => "Are you sure?"} %></span>
              <% end %>
          </small>
        </div>
    <% end %>